{% extends 'base_RAIL.html' %}
{% load get_dates %}

{% block title %}
    出行方案查询
{% endblock %}

{% block h1-title %}
    出行方案查询
{% endblock %}


{% block content %}
    <form method="post" action="/rail/AskCities/">
        {% csrf_token %}

        <label for="departureCity">出发城市</label>
        <input type="text" name="departureCity" id="departureCity"
               required
               value={{ departureCity }}>
        <br><br>

        <label for="arrivalCity">到达城市</label>
        <input type="text" name="arrivalCity" id="arrivalCity"
               required
               value={{ arrivalCity }}>
        <br><br>

        <label for="date">出发日期</label>
        <input type="date" name="date" id="date"
               required
               value={% if date %}{{ date }}
                   {% else %}{% tomorrow "%Y-%m-%d" %}
               {% endif %}>
        <br><br>

        <label for="time">出发时间</label>
        <input type="time" name="time" id="time"
               required
               value="00:00:00">
        <br><br>
        <label for="normal">当程</label>
        <input checked="true"
               id="normal"
               name="askCitySeq"
               type="radio"
               value="normal">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="reverse">返程</label>
        <input type="radio"
               name="askCitySeq"
               id="reverse"
               value="reverse">
        <br><br>
        <button type="submit">查询行程</button>
    </form>
    <br><br>

{% endblock %}

{% block answer %}
    <h2>直达方案</h2>
    <table style="border-width: medium; border-style: solid;"
           border="1">
        {% if fetch_tmp_0 %}
            <tr>
                <th>车次</th>
                <th>出发时间</th>
                <th>出发车站</th>
                <th>到达时间</th>
                <th>到达车站</th>
                <th>软卧(上)</th>
                <th>软卧(下)</th>
                <th>硬卧(下)</th>
                <th>硬卧(中)</th>
                <th>硬卧(上)</th>
                <th>软座</th>
                <th>硬座</th>
                <th style="color: mediumblue; font-weight: bold">订票链接</th>
            </tr>
            {% for f in fetch_tmp_0 %}
                <tr>
                    <th>{{ f.tid }}</th>
                    <th>{{ f.sta_time }}</th>
                    <th>{{ f.sta_station }}</th>
                    <th>{{ f.arr_time }}</th>
                    <th>{{ f.arr_station }}</th>

                    <th>{% ifnotequal f.ssl_r 0 %}
                        ￥{{ f.pr_ssl }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.ssu_r 0 %}
                        ￥{{ f.pr_ssu }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.hsl_r 0 %}
                        ￥{{ f.pr_hsl }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.hsm_r 0 %}
                        ￥{{ f.pr_hsm }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.hsu_r 0 %}
                        ￥{{ f.pr_hsu }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.sse_r 0 %}
                        ￥{{ f.pr_sse }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>
                    <th>{% ifnotequal f.hse_r 0 %}
                        ￥{{ f.pr_hse }}
                    {% else %}
                        -
                    {% endifnotequal %}</th>

                    <th style="color: mediumblue">
                        <form method="post" action="/rail/BookingTicket/">
                            {% csrf_token %}
                            <input type="hidden" name="tid" value={{ f.tid }}>
                            <input type="hidden" name="departure" value={{ f.sta_station }}>
                            <input type="hidden" name="arrival" value={{ f.arr_station }}>
                            <input type="hidden" name="date"
                                   value={% if date %}{{ date }}
                                       {% else %}{% tomorrow "%Y-%m-%d" %}
                                   {% endif %}>
                            <label for={{ f.tid }}></label>
                            <button type="submit" name="submit" id={{ f.tid }}>生成订单</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br><br><br>
    <h2>中转方案</h2>
    {# TODO #}



{% endblock %}


