{% extends 'base_RAIL.html' %}
{% load get_dates %}

{% block title %}
    出行方案查询
{% endblock %}

{% block h1-title %}
    出行方案查询
{% endblock %}


{% block content %}
    <form method="post" action="/rail/AskCities/">
        {% csrf_token %}

        <label for="departureCity">出发城市</label>
        <input type="text" name="departureCity" id="departureCity"
               required
               value={{ departureCity }}>
        <br><br>

        <label for="arrivalCity">到达城市</label>
        <input type="text" name="arrivalCity" id="arrivalCity"
               required
               value={{ arrivalCity }}>
        <br><br>

        <label for="date">出发日期</label>
        <input type="date" name="date" id="date"
               required
               value={% if date %}{{ date }}
                   {% else %}{% tomorrow "%Y-%m-%d" %}
               {% endif %}>
        <br><br>

        <label for="time">出发时间</label>
        <input type="time" name="time" id="time"
               required
               value="00:00:00">
        <br><br>
        <label for="normal">当程</label>
        <input checked="true"
               id="normal"
               name="askCitySeq"
               type="radio"
               value="normal">
        &nbsp;&nbsp;
        <label for="reverse">返程</label>
        <input type="radio"
               name="askCitySeq"
               id="reverse"
               value="reverse">
        <br><br>
        <button type="submit">查询行程</button>
    </form>
    <br>

{% endblock %}

{% block answer %}
    {% if fetch_tmp_0 %}
        <h2>直达方案</h2>
        <table style="border-width: medium; border-style: solid;"
               border="1">
            <tr>
                <th>车次</th>
                <th>出发时间</th>
                <th>出发车站</th>
                <th>到达时间</th>
                <th>到达车站</th>
                <th>软卧(下)</th>
                <th>软卧(上)</th>
                <th>硬卧(下)</th>
                <th>硬卧(中)</th>
                <th>硬卧(上)</th>
                <th>软座</th>
                <th>硬座</th>
                <th style="color: mediumblue; font-weight: bold">订票链接</th>
            </tr>
            {% for f in fetch_tmp_0 %}
                <tr>
                    <td>{{ f.tid }}</td>
                    <td>{{ f.sta_time }}</td>
                    <td>{{ f.sta_station }}</td>
                    <td>
                        {{ f.arr_time }}
                        {% if f.offset_day  %}
                            (+{{ f.offset_day }})
                        {% endif %}
                    </td>
                    <td>{{ f.arr_station }}</td>

                    <td>{% ifnotequal f.ssl_r 0 %}
                        ￥{{ f.pr_ssl }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.ssu_r 0 %}
                        ￥{{ f.pr_ssu }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.hsl_r 0 %}
                        ￥{{ f.pr_hsl }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.hsm_r 0 %}
                        ￥{{ f.pr_hsm }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.hsu_r 0 %}
                        ￥{{ f.pr_hsu }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.sse_r 0 %}
                        ￥{{ f.pr_sse }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>
                    <td>{% ifnotequal f.hse_r 0 %}
                        ￥{{ f.pr_hse }}
                    {% else %}
                        -
                    {% endifnotequal %}</td>

                    <td style="color: mediumblue">
                        <form method="post" action="/rail/BookingTicket/">
                            {% csrf_token %}
                            <input type="hidden" name="tid" value={{ f.tid }}>
                            <input type="hidden" name="departure" value={{ f.sta_station }}>
                            <input type="hidden" name="arrival" value={{ f.arr_station }}>
                            <input type="hidden" name="date"
                                   value={% if date %}{{ date }}
                                       {% else %}{% tomorrow "%Y-%m-%d" %}
                                   {% endif %}>
                            <label for={{ f.tid }}></label>
                            <button type="submit" name="submit" id={{ f.tid }}>生成订单</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br><br>
    {% if fetch_tmp_1 %}
        <h2>中转方案</h2>
        {% for f in fetch_tmp_1 %}
            <table style="border-width: medium; border-style: solid;" border="1">
                <tr>
                    <th>范围</th>
                    <th>车次</th>
                    <th>出发时间</th>
                    <th>出发车站</th>
                    <th>到达时间</th>
                    <th>到达车站</th>
                    <th>软卧(下)</th>
                    <th>软卧(上)</th>
                    <th>硬卧(下)</th>
                    <th>硬卧(中)</th>
                    <th>硬卧(上)</th>
                    <th>软座</th>
                    <th>硬座</th>
                    <th style="color: mediumblue; font-weight: bold">订票链接</th>
                </tr>
                <tr>
                    <td>前半程</td>
                    <td>{{ f.ctc_t1_tid }}</td>
                    <td>{{ f.ctc_t1_starttime }}</td>
                    <td>{{ f.ctc_t1_startstation }}</td>
                    <td>{{ f.ctc_t1_arrivetime }}</td>
                    <td>{{ f.ctc_t1_arrivestation }}</td>

                    <td>{% ifnotequal f.ctc_ssl_remain1 0 %}
                        ￥{{ f.ctc_ssl_1 }}
                    {% else %} - {% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_ssu_remain1 0 %}
                        ￥{{ f.ctc_ssu_1 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsl_remain1 0 %}
                        ￥{{ f.ctc_hsl_1 }}
                    {% else %} - {% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsm_remain1 0 %}
                        ￥{{ f.ctc_hsm_1 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsu_remain1 0 %}
                        ￥{{ f.ctc_hsu_1 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_sse_remain1 0 %}
                        ￥{{ f.ctc_sse_1 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hse_remain1 0 %}
                        ￥{{ f.ctc_hse_1 }}
                    {% else %} - {% endifnotequal %}</td>

                    <td style="color: mediumblue">
                        <form method="post" action="/rail/BookingTicket/">
                            {% csrf_token %}
                            <input type="hidden" name="tid" value={{ f.ctc_t1_tid }}>
                            <input type="hidden" name="departure" value={{ f.ctc_t1_startstation }}>
                            <input type="hidden" name="arrival" value={{ f.ctc_t1_arrivestation }}>
                            <input type="hidden" name="date"
                                   value={% if date %}{{ date }}
                                       {% else %}{% tomorrow "%Y-%m-%d" %}
                                   {% endif %}>
                            <label for={{ f.ctc_t1_tid }}></label>
                            <button type="submit" name="submit" id={{ f.ctc_t1_tid }}>生成订单</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>后半程</td>
                    <td>{{ f.ctc_t2_tid }}</td>
                    <td>{{ f.ctc_t2_starttime }}</td>
                    <td>{{ f.ctc_t2_startstation }}</td>
                    <td>
                        {{ f.ctc_t2_arrivetime }}
                        {% if f.offset_day_2  %}
                            (+{{ f.offset_day_2 }})
                        {% endif %}
                    </td>
                    <td>{{ f.ctc_t2_arrivestation }}</td>

                    <td>{% ifnotequal f.ctc_ssl_remain2 0 %}
                        ￥{{ f.ctc_ssl_2 }}
                    {% else %} - {% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_ssu_remain2 0 %}
                        ￥{{ f.ctc_ssu_2 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsl_remain2 0 %}
                        ￥{{ f.ctc_hsl_2 }}
                    {% else %} - {% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsm_remain2 0 %}
                        ￥{{ f.ctc_hsm_2 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hsu_remain2 0 %}
                        ￥{{ f.ctc_hsu_2 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_sse_remain2 0 %}
                        ￥{{ f.ctc_sse_2 }}
                    {% else %} -{% endifnotequal %}</td>
                    <td>{% ifnotequal f.ctc_hse_remain2 0 %}
                        ￥{{ f.ctc_hse_2 }}
                    {% else %} - {% endifnotequal %}</td>

                    <td style="color: mediumblue">
                        <form method="post" action="/rail/BookingTicket/">
                            {% csrf_token %}
                            <input type="hidden" name="tid" value={{ f.ctc_t2_tid }}>
                            <input type="hidden" name="departure" value={{ f.ctc_t2_startstation }}>
                            <input type="hidden" name="arrival" value={{ f.ctc_t2_arrivestation }}>
                            <input type="hidden" name="date"
                                   value={% if date %}{{ date }}
                                       {% else %}{% tomorrow "%Y-%m-%d" %}
                                   {% endif %}>
                            <label for={{ f.ctc_t2_tid }}></label>
                            <button type="submit" name="submit" id={{ f.ctc_t2_tid }}>生成订单</button>
                        </form>
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}
        <br>
    {% endif %}
    <br>
{% endblock %}


