{% extends 'base_RAIL.html' %}

<!--查询具体车次-->
{% block title %}
    车次信息查询
{% endblock %}

{% block h1-title %}
    车次信息查询
{% endblock %}


{% block content %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    <form method="get" action="/rail/AskTid/">
        {% csrf_token %}
        <div class="form-group">
            <label for="tid">
                车次
            </label>
            <input type="text" name="tid" id="tid"
                   autofocus required>
        </div>
        <div class="form-group">
            <label for="departure_date">
                出发日期
            </label>
            <input type="date" name="departure_date"
                   id="departure_date"
                   autofocus required>
        </div>
        <br> <br>
        <input type="submit" value="查询">
    </form>
    <br>
{% endblock %}

{% block answer %}
    <form method="post" action="/rail/BookingTicket/">
        {# 静态信息 #}
        {% csrf_token %}
        {% if tid_info %}
            {{ input_tid }} 次列车的信息:
            <br>
            <br>
            <table
                    style="border-width: medium;
                       border-style: solid;"
                    border="1">
                <tr>
                    {# 表头 #}
                    <th>站名</th>
                    <th>到站时间</th>
                    <th>离站时间</th>
                    <th>软卧(上铺)</th>
                    <th>软卧(下铺)</th>
                    <th>硬卧(下铺)</th>
                    <th>硬卧(中铺)</th>
                    <th>硬卧(上铺)</th>
                    <th>软座</th>
                    <th>硬座</th>
                    <th style="color: mediumblue; font-weight: bold">余票</th>
                </tr>

                {# 始发站 #}
                <tr>
                    <td>{{ starter.ti_arrivalstation }}</td>
                    <td>-</td>
                    <td>
                        {{ starter.ti_departuretime }}
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td style="color: mediumblue">-</td>
                </tr>

                {# 中间站 #}
                {% for item in mids %}
                    <tr>
                        <td>{{ item.ti_arrivalstation }}</td>
                        <td>
                            {{ item.ti_arrivaltime }}
                            {% if item.ti_offsetday %}
                                (+{{ item.ti_offsetday }})
                            {% endif %}
                        </td>
                        <td>
                            {{ item.ti_departuretime }}
                            {% if item.ti_offsetday %}
                                (+{{ item.ti_offsetday }})
                            {% endif %}
                        </td>
                        <td>
                            {% ifequal item.ti_sslprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_sslprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_ssuprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_ssuprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_hslprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_hslprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_hsmprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_hsmprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_hsuprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_hsuprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_sseprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_sseprice }}
                            {% endifequal %}
                        </td>
                        <td>
                            {% ifequal item.ti_hseprice 0.0 %}
                                -
                            {% else %}
                                ￥{{ item.ti_hseprice }}
                            {% endifequal %}
                        </td>
                        <td style="color: mediumblue">
                            {% for rem in remList %}
                                {% ifequal rem.0 item.ti_seq %}
                                    {% if rem.1 > 0 %}
                                        <label for="terminal">
                                            <input type="radio"
                                                   name="terminal"
                                                   id="terminal"
                                                   value={{ item.ti_arrivalstation }}>
                                        </label>购票到此站
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                        </td>
                    </tr>
                {% empty %}
                    {# <div class="no-station">#}
                    {# 抱歉, 没有搜索到符合条件的车次.#}
                    {# </div>#}
                {% endfor %}

                {# 终到站 #}
                <tr>
                    <td>{{ terminal.ti_arrivalstation }}</td>
                    <td>
                        {{ terminal.ti_arrivaltime }}
                        {% if terminal.ti_offsetday %}
                            (+{{ terminal.ti_offsetday }})
                        {% endif %}
                    </td>
                    <td>-</td>
                    <td>
                        {% ifequal terminal.ti_sslprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_sslprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_ssuprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_ssuprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_hslprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_hslprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_hsmprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_hsmprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_hsuprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_hsuprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_sseprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_sseprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal terminal.ti_hseprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ terminal.ti_hseprice }}
                        {% endifequal %}
                    </td>
                    <td style="color: mediumblue">
                        {% ifequal lastList.0 item.ti_seq %}
                            {% if lastList.1 > 0 %}
                                <label for="terminal">
                                    <input type="radio"
                                           name="terminal"
                                           id="terminal"
                                           value={{ item.ti_arrivalstation }}>
                                </label>购票到此站
                            {% endif %}
                        {% endifequal %}
                    </td>
                </tr>

            </table>
            <input type="submit" value="买票">
            </form>
        {% endif %}

    {# 动态信息 #}
    {# TODO #}
{% endblock %}


