{% extends 'base_RAIL.html' %}
{% load get_dates %}

<!--查询具体车次-->
{% block title %}
    车次信息查询
{% endblock %}

{% block h1-title %}
    车次信息查询
{% endblock %}


{% block content %}
    <form method="get" action="/rail/AskTid/">
        {% csrf_token %}
        <div class="form-group">
            <label for="tid">车次</label>
            <input type="text" name="tid" id="tid"
                   required
                   placeholder="请在此输入车次号"
                   value={% if input_tid %}{{ input_tid }} {% endif %}>
        </div>
        <div class="form-group">
            <label for="date">出发日期</label>
            <input type="date" name="date"
                   id="date"
                   required
                   value={% tomorrow "%Y-%m-%d" %}>
        </div>
        <br>
        <input type="submit" value="查询">
    </form>
    <br>
{% endblock %}

{% block answer %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    {# 静态信息 + 动态信息 #}
    {% if tid_info %}
        {{ input_tid }}次列车的信息:
        <br>
        <br>
        <table style="border-width: medium;
                       border-style: solid;"
               border="1">
            <tr>
                {# 表头 #}
                <th>站名</th>
                <th>到站时间</th>
                <th>离站时间</th>
                <th>软卧(上铺)</th>
                <th>软卧(下铺)</th>
                <th>硬卧(下铺)</th>
                <th>硬卧(中铺)</th>
                <th>硬卧(上铺)</th>
                <th>软座</th>
                <th>硬座</th>
                <th style="color: mediumblue; font-weight: bold">余票</th>
            </tr>

            {# 始发站 #}
            <tr>
                <td>{{ departure.ti_arrivalstation }}</td>
                <td>-</td>
                <td>
                    {{ departure.ti_departuretime }}
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td style="color: mediumblue">-</td>
            </tr>

            {# 中间站 #}
            {% for item in mids %}
                <tr>
                    <td>{{ item.ti_arrivalstation }}</td>
                    <td>
                        {{ item.ti_arrivaltime }}
                        {% if item.ti_offsetday %}
                            (+{{ item.ti_offsetday }})
                        {% endif %}
                    </td>
                    <td>
                        {{ item.ti_departuretime }}
                        {% if item.ti_offsetday %}
                            (+{{ item.ti_offsetday }})
                        {% endif %}
                    </td>
                    <td>
                        {% ifequal item.ti_sslprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_sslprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_ssuprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_ssuprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_hslprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_hslprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_hsmprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_hsmprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_hsuprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_hsuprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_sseprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_sseprice }}
                        {% endifequal %}
                    </td>
                    <td>
                        {% ifequal item.ti_hseprice 0.0 %}
                            -
                        {% else %}
                            ￥{{ item.ti_hseprice }}
                        {% endifequal %}
                    </td>
                    <td style="color: mediumblue">
                        <form method="post" action="/rail/BookingTicket/">
                            {% csrf_token %}
                            <input type="hidden" name="tid" value={{ input_tid }}>
                            <input type="hidden" name="departure" value={{ departure.ti_arrivalstation }}>
                            <input type="hidden" name="arrival" value={{ item.ti_arrivalstation }}>
                            <input type="hidden" name="date"
                                   value={% if date %}{{ date }}
                                       {% else %}{% tomorrow "%Y-%m-%d" %}
                                   {% endif %}>
                            <label for={{ f.tid }}></label>
                            <button type="submit" name="submit" id={{ f.tid }}>生成订单</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                {# <div class="no-station">#}
                {# 抱歉, 没有搜索到符合条件的车次.#}
                {# </div>#}
            {% endfor %}

            {# 终到站 #}
            <tr>
                <td>{{ arrival.ti_arrivalstation }}</td>
                <td>
                    {{ arrival.ti_arrivaltime }}
                    {% if arrival.ti_offsetday %}
                        (+{{ arrival.ti_offsetday }})
                    {% endif %}
                </td>
                <td>-</td>
                <td>
                    {% ifequal arrival.ti_sslprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_sslprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_ssuprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_ssuprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_hslprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_hslprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_hsmprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_hsmprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_hsuprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_hsuprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_sseprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_sseprice }}
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal arrival.ti_hseprice 0.0 %}
                        -
                    {% else %}
                        ￥{{ arrival.ti_hseprice }}
                    {% endifequal %}
                </td>
                <td style="color: mediumblue">
                    <form method="post" action="/rail/BookingTicket/">
                        {% csrf_token %}
                        <input type="hidden" name="tid" value={{ input_tid }}>
                        <input type="hidden" name="departure" value={{ departure.ti_arrivalstation }}>
                        <input type="hidden" name="arrival" value={{ arrival.ti_arrivalstation }}>
                        <input type="hidden" name="date"
                               value={% if date %}{{ date }}
                                   {% else %}{% tomorrow "%Y-%m-%d" %}
                               {% endif %}>
                        <label for={{ f.tid }}></label>
                        <button type="submit" name="submit" id={{ f.tid }}>生成订单</button>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="前往生成订单">
    {% endif %}
{% endblock %}


