{% extends 'base_RAIL.html' %}
{% block title %}
    火车票订单生成
{% endblock %}

{% block h1-title %}
    订单信息
{% endblock %}

{% block content %}

    <form method="post" action="/rail/BookingTicket/">
        {% csrf_token %}
        <label for="tid">车次</label>
        <input type="text" name="tid" id="tid"
               required
               value={{ tid }}>
        <br><br>

        <label for="departure">出发车站</label>
        <input type="text" name="departure" id="departure"
               required
               value={{ departure }}>
        <br><br>

        <label for="arrival">到达车站</label>
        <input type="text" name="arrival" id="arrival"
               required
               value={{ arrival }}>
        <br><br>

        <label for="date">出发日期</label>
        <input type="date" name="date" id="date"
               required
               value={{ date }}>
        <br><br>

        <label for="seattype">座位种类&nbsp;</label>
        <input type="radio" name="seattype" id="seattype" value="ssl">软卧(下)
        <input type="radio" name="seattype" id="seattype" value="ssu">软卧(上)
        <input type="radio" name="seattype" id="seattype" value="hsl">硬卧(下)
        <input type="radio" name="seattype" id="seattype" value="hsm">硬卧(中)
        <input type="radio" name="seattype" id="seattype" value="hsu">硬卧(上)
        <input type="radio" name="seattype" id="seattype" value="sse">软座
        <input type="radio" name="seattype" id="seattype" value="hse">硬座
        <br><br>
        <button type="submit">确认生成订单</button>
    </form>
{% endblock %}

{% block answer %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    <br><br>
    <a href="/rail">稍后订票</a>
    <br><br>
{% endblock %}