{% extends 'base_RAIL.html' %}
{% block title %}
    火车票订单生成
{% endblock %}

{% block h1-title %}
    订单信息
{% endblock %}

{% block content %}

    <form method="post" action="/rail/BookingTicket/">
        {% csrf_token %}
        <label for="tid">
            车次
        </label>
        <input type="text" name="tid" id="tid"
               required
               value={{ tid }}>
        <br> <br>

        <label for="start_station">
            出发车站
        </label>
        <input type="text" name="start_station" id="start_station"
               required
               value={{ starter }}>
        <br> <br>

        <label for="terminal_station">
            到达车站
        </label>
        <input type="text" name="terminal_station" id="terminal_station"
               required
               value={{ terminal }}>
        <br> <br>

        <label for="date">
            出发日期
        </label>
        <input type="date" name="date" id="date"
               required
               value={{ date }}>
        <br> <br>

        <label for="seattype">
            座位种类&nbsp;
        </label>
        <input type="radio" name="seattype" id="seattype" value="ssl">软卧(下)
        <input type="radio" name="seattype" id="seattype" value="ssu">软卧(上)
        <input type="radio" name="seattype" id="seattype" value="hsl">硬卧(下)
        <input type="radio" name="seattype" id="seattype" value="hsm">硬卧(中)
        <input type="radio" name="seattype" id="seattype" value="hsu">硬卧(上)
        <input type="radio" name="seattype" id="seattype" value="sse">软座
        <input type="radio" name="seattype" id="seattype" value="hse">硬座
        <br><br>
        <input type="submit" value="确认购买">
    </form>
    <br>
    <a href="/rail">取消购买</a>
{% endblock %}

{% block answer %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
{% endblock %}