{% extends "base_RAIL.html" %}
{% block title %}
    城市-车站查询
{% endblock %}

{% block h1-title %}
    城市-车站查询
{% endblock %}

{% block content %}

    <form method="get" action="findStationsInCityAnswer/">
        {% csrf_token %}
        <label for="stations">
            <input type="search"
                   name="stations"
                   id="stations"
                   placeholder="在这里输入城市名"
                   required>
        </label>
        <button type="submit">查询</button>
    </form>

{% endblock %}
