<!--查询具体车次-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>具体车次查询</title>
</head>

<body>
<h1 style="text-align:center">
    具体车次查询
</h1>
<!--TODO: action-->
<form style="text-align:center">
    <label for="tid">
        车次
    </label>
    <input type="text" name="tid" id="tid">
    <br>
    <br>
    <label for="departure_date">
        出发日期
    </label>
    <input type="date" name="departure_date" id="departure_date">
    <br>
    <br>
    <input type="submit" value="查询">
</form>

<p style="text-align:right">
<a href="./welcome.html">返回导航</a>
</p>

</body>
</html>