{% extends 'base_RAIL.html' %}
{% load get_dates %}

{% block title %}
    {{ user_name }}的订单
{% endblock %}

{% block h1-title %}
    {{ user_name }} 的订单
{% endblock %}

{% block content %}
    <form method="post" action="/rail/ShowMyOrders/">
        {% csrf_token %}
        <div class="form-group">
            <label for="date">
                查看不早于
                <input type="date" name="date" id="date"
                       required
                       value={% if date %}{{ date }}
                       {% else %}{% tomorrow "%Y-%m-%d" %}{% endif %}>
                出发的订单:
            </label>
        </div>
        <br>
        <input type="submit" value="查询">
    </form>
    <br>
{% endblock %}

{% block answer %}
    {% if msg %}
        {{ msg }}
    {% endif %}

    {% if not orderList %}
        {#  抱歉, 找不到符合要求的订单.#}
    {% else %}
        按状态/发车日期/订单号排序:
        <table style="border-width: medium;
                       border-style: solid;"
               border="1">
            <tr>
                <th>订单号</th>
                <th>车次</th>
                <th>座位类型</th>
                <th>费用</th>
                <th>发车日期</th>
                <th>发车时间</th>
                <th>上车车站</th>
                <th>目的车站</th>
                <th>订单状态 (valid/cancelled)</th>
                <th style="color: mediumblue; font-weight: bold">操作</th>
            </tr>
            {% for order in orderList %}
                <tr>
                    <td>{{ order.o_oid }}</td>
                    <td>{{ order.o_tid }}</td>
                    <td>{{ order.o_seattype_name }}</td>
                    <td>￥{{ order.o_cost }}</td>
                    <td>{{ order.o_departuredate }}</td>
                    <td>{{ order.o_departuretime }}</td>
                    <td>{{ order.o_departurestation }}</td>
                    <td>{{ order.o_arrivalstation }}</td>
                    <td>{{ order.o_orderstatus }}</td>
                    <td>
                        {% ifequal order.o_orderstatus 'valid' %}
                            <form method="post" action="/rail/CancelMyOrders/">
                                {% csrf_token %}
                                <input type="hidden" name="cancel" value={{ order.o_oid }}>
                                <label for={{ order.o_oid }}></label>
                                <button type="submit" name="cancelOrder"
                                        id={{ order.o_oid }}>取消订单
                                </button>
                            </form>
                        {% else %} - {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endif %}
{% endblock %}