<!--用户登录-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>

<body>
    <h1 style="text-align:center">
        用户登录
    </h1>
    <form style="text-align:center">
        <label for="u_username">
            用户名:
        </label>
        <input type="text" name="用户名" id="u_username">
        <br><br>
        <input type="submit" value="已注册-登录">
        <br><br>
        <a href="./user_register.html">未注册? 点此注册!</a>
    </form>
</body>

</html>