{% extends "base_RAIL.html" %}
<!--导航/欢迎-->

{% block title %}
    导航
{% endblock %}

{% block h1-title %}
    {% if user_name %}
        {{ user_name }}, 欢迎光临订票系统.
    {% endif %}
{% endblock %}

{% block content %}
    <form>
        <a href="/rail/BookingTicket/">立刻订票</a>
        <br><br>
        <a href="/rail/AskTid/">车次信息查询</a>
        <br><br>
        <a href="/rail/AskCities">出行方案查询</a>
        <br><br>
        <a href="/rail/ShowMyOrders">订单查询</a>
        <br><br>
        <a href="/rail/findStationsInCity/">城市-车站查询</a>
    </form>
{% endblock %}