<!--用户注册-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>

<body>

    <h1 style="text-align:center">用户注册</h1>

    <form style="text-align:center">
        <label for="u_name">&nbsp;&nbsp;&nbsp;姓名:</label>
        <input type="text" name="name" id="u_name">
        <br />
        <label for="u_identitycard">身份证:</label>
        <input type="text" name="identitycard" id="u_identitycard">
        <br />
        <label for="u_phone">手机号:</label>
        <input type="text" name="phone" id="u_phone">
        <br />
        <label for="u_creditcard">信用卡: </label>
        <input type="text" name="creditcard" id="u_creditcard">
        <br />
        <label for="u_username">用户名: </label>
        <input type="text" name="username" id="u_username">
        <br />
        <br />
        <a href="user_login.html">点此注册</a>
    </form>

</body>

</html>