{% extends "base.html" %}
{% block title %}
    My amazing site
{% endblock %}

{% block sidebar %}
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/rail">Rail</a>
            <ul>
                <li>
                    <a href="/rail/findStationsInCity/">
                        城市-车站查询
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block header_in_body %}
    {# TODO: order info #}
    <a href="order">查看 {{ user_name }} 的信息</a>
{% endblock %}

{% block footer %}
    <a href="/rail">回到导航页</a>
    <br>
    <a href="/logout/">登出</a>
{% endblock %}
