{% extends "base.html" %}
{% block title %}
    订票系统为您服务
{% endblock %}

{% block sidebar %}
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/rail">Rail</a>
            <ul>
                <li>
                    <a href="/rail/AskTid/">车次信息查询</a>
                </li>
                <li>
                    <a href="/rail/AskCities">出行方案查询</a>
                </li>
                <li>
                    <a href="/rail/ShowMyOrders/">订单信息管理</a>
                </li>
                <li>
                    <a href="/rail/BookingTicket/">立刻订票</a>
                </li>
                <li>
                    <a href="/rail/findStationsInCity/">城市-车站查询</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block header_in_body %}
    <a href="/rail/ShowMyOrders/">查看 {{ user_name }} 的订单信息</a>
{% endblock %}

{% block footer %}
    <a href="/rail">回到导航页</a>
    <br>
    <a href="/logout/">登出</a>
{% endblock %}
